a{
  color: #fff;
}
*{
  font-size: 17px;
  color: gray;
}
body{
  background: url(bg.png);
  position: fixed;
}
nav {
  text-align: center;
  background-color: #0e425a; 
  position: relative; 
  padding: 0px 60px 0px 750px;
  width: 100%;
  position: fixed;
  z-index: 2;
  box-shadow: 0px 0px 0px 4px rgba(0,0,0,.3); 
  font-weight: bold;  
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav > ul > li {       
  float: left;
}
nav ul li {
  background-color: #0e425a;
  color: #ffffff;
}
nav ul li:hover {
  background-color: #79a6d0;
  color: #ffffff;
}
nav ul li:hover > ul{   
  display: block;
}
nav ul li  a {        
  display: inline-block;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  width: 160px;
}
nav ul li  a:hover{
  background-color: #79a6d0;
  cursor: pointer;
}
nav ul li button:hover {
  background-color: #055e88;
  height: 45px;
  cursor: pointer;
}
button{
  width: 200px;
  height: 45px;
  background-color: #0e425a;
  z-index: 3;
  border:none;
  font-family: Century Gothic;
  font-weight: bold;
  color: #fff;
}
#signup{
  background-color: #f09c16;
  width: 230px;
}
#signup:hover{
  background-color: #fff;
  color: #f09c16;
  width: 230px;
}
img{
  margin-top: 5px;
}
#banner{
  background: url(bghome.png) no-repeat;
  text-align: center;
  height: 700px;
  width: 1600px;
  float: left;
  
}
#title{
  color: #fff;
  font-size: 4.5em;
  font-family: Hobo STD;
  text-align: center;
  text-shadow: 1px 1px black;
  padding-top: 23%;
  width:65%;
  margin-left:18%;
  margin-top: -190px;
  margin-left: 160px;
}
#style
{
  border: 2px solid #075e89;
  background-color: rgba(0,0,0,.7);
  border-radius: 15px;
  padding-top: 40px;
  padding-bottom: 100px;
  height: 230px;
}
#titlename{
  color: #fff;
  font-weight: bold;
  font-size: 31px;
  font-family: Space Age;
  padding-top: 4px;
  margin-left: -730px;
}
#titlename:hover{
  background-color: #0e425a;
}

#submit{
    background-color:#f09c16;
    height: 37px;
    width: 507px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    transition-timing-function: linear;
}
#submit:hover{
    background: #bd8519;
    color: #fff;
}
input, select{
  background-color: #161d2f;
  border: none;
  text-decoration: underline #79a6d0 2px;
  color: #fff;
}
hr{
  width: 90%;
  margin-top: 7px;
}
select{
  margin-left: 0px;
  width: 385px;
}

.modal-content3 {
  background-color: #161d2f; 
  width: 450px;
    height:420px;
    margin-top: 2.5%; 
    margin: auto;
    border-radius: 5px;
}
.modal-content1, .modal-content2{
  background-color: #161d2f;
    width: 450px;
    height: 255px;
    text-align: center;
    margin: auto;
    margin-top: 15%; 
    border-radius: 5px;
}
#content-container{
  width:450px;
  height:590px;
  background-color:#161d2f;
  border-radius:10px;
  position:fixed;
  margin-left:35%;
  margin-right:40%;
  margin-top:4%;
} 
.inp1,.inp2, #submit{
  width: 380px;
  margin-left: 3px;
}
/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 3  0px;
    color: gray;
    margin-right: 10px;
    margin-top: -10px; 
}
input[type=text] {
    width: 92%;
    padding: 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
select {
    width: 92%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 230px;
    background-color: #f09c16;
    height: 30px;
    color: white;
    font-family: Century Gothic;
    margin-top: 5px;
    border: none;
    cursor: pointer;
}input[type=submit]:hover {
    background-color: #bd8519;
}
#btn{
    width:230px;
    background-color: #f09c16;
  height: 30px;
   font-family: Century Gothic;
   border: none;
   cursor: pointer;
}
#btn:hover{
  background-color: #bd8519;
}
button a{
  text-decoration: none;
  color: #fff;
  background-color: #f09c16;
}
button a:hover{
  background-color: #bd8519;
}
input,select{
  background-color: #161d2f;
  color: #fff;
  font-size: 14px;
}
p, label{
  color: #fff;
}
#update-background{
  position:absolute;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,.5);
  z-index:10;
}